body {
    margin: 0 auto;
    background-color: rgb(51, 50, 50);
}

.headerImg {
    width: 100vw;
}

.pageTitle {
    color: rgb(177, 53, 5);
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 100;
}

.navigation {
    position: fixed;
    top: 3%;
    right: 2%;
    z-index: 100;
}

